.admin-left-col {
    color: rgb(226, 221, 221);
    background-image: radial-gradient(circle at top center, rgb(47, 141, 179), rgb(14, 10, 73) 50%);
}

.navigation-link {
    text-decoration: none;
    color: rgb(226, 221, 221);
    cursor: pointer;
}

.navigation-link.active {
    text-decoration: none;
    color: rgb(238, 182, 62);
    cursor: pointer;

}

.on-hover:hover {
    border-right-style: solid;
    border-right-color: rgb(238, 182, 62);
    border-right-width: 5px;
    color: rgb(238, 182, 62);
    margin-left: 4px;
}



.subject:hover {
    border-bottom-style: solid;
    background-color: rgb(218, 224, 159);
    border-bottom-color: blueviolet;
    border: 0px 0px 4px 0px;
    padding: 4px 4px 4px 4px;
}

.chapter:hover {
    border-bottom-color: rgb(95, 226, 43);
    border: 0px 0px 4px 0px;
}

.blurr-back {
    filter: blur(2px);
    pointer-events: none;
}

.blurr-contain {
    background: rgba(255, 255, 255, 0.7);
    padding: 5px 5px 5px 5px;
}